<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945449988372-7dvllsltr9qvoqo79lkcefk7r88mtb7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945449988372-7dvllsltr9qvoqo79lkcefk7r88mtb7l</string>
	<key>API_KEY</key>
	<string>AIzaSyAN1Oes8Gf01ETJtY3yTVSJaFufobE9LzU</string>
	<key>GCM_SENDER_ID</key>
	<string>945449988372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliastabaka.Potential</string>
	<key>PROJECT_ID</key>
	<string>potential-b5b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>potential-b5b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945449988372:ios:9af91f6c2c25e4e9c7d201</string>
</dict>
</plist>